.DS_Store
node_modules/
dist/
coverage/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
selenium-debug.log
tests/e2e/reports

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vs/
